<div class="columns">
  <div class="column" style="text-align:right;">
    <img src="./assets/images/repelent/Repelent_Left.png" width="300px"/>
  </div>
  <div class="column mt-2">
    <br/>
    <h1 class="title is-1">
      Repelente para zombies:
    </h1>
    <h1 class="subtitle is-1">
      Protege tu cerebro!
    </h1>
    <p>Repelente para zombies &copy; es un producto Centro Americano, desarrollado y probado por <strong>Heroes en silencion Inc.</strong></p>
  </div>
  <div class="column" style="text-align:left;">
    <img src="./assets/images/repelent/Repelent_Right.png" width="350px"/>
  </div>
</div>

<section style="background-image: linear-gradient(180deg,hsla(171deg,100%,67%,.1),transparent 3rem);
background-repeat: repeat-x;">
  <div class="container">
    <br>
    <br>
    <br>
    <div class="columns is-multiline" >
      <div class="column is-6">
        <div class="column box">
          <h1 class="title is-4 mb-2">100% Natural</h1>
          <p>Nustros productos son 100% naturales y sin azucar!</p>
        </div>
        <div class="column box">
          <h1 class="title is-4 mb-2">Garantia de por vida</h1>
          <p>Le ofrecemos garantia de por vida en caso el producto falle y usted sobreviva!</p>
        </div>
      
        <div class="column box">
          <h1 class="title is-4 mb-2">Politicamente correcto</h1>
          <p>Nuestro repelente no excluye generos de zombie!, los ataca por igual!</p>
        </div>
        <div class="column box">
          <h1 class="title is-4 mb-2">Le rinde más!</h1>
          <p>Es el mas rendidor del mercado!, una lata le alcanza para hasra 100 zombies!</p>
        </div>
      </div>
      <div class="column is-6" style="text-align:center;">
        <img src="./assets/images/zombie/flag.png" width="300px;"/>
      </div>
    </div>
  </div>
</section>