<div class="columns">
  <div class="column" style="text-align:right;">
    <img src="./assets/images/repelent/Repelent_Left.png" loading="lazy" width="300px"/>
  </div>
  <div class="column mt-2">
    <br/>
    <h1 class="title is-1">
      Repelente para zombies:
    </h1>
    <h1 class="subtitle is-1">
      Protege tu cerebro!
    </h1>
    <p>Repelente para zombies &copy; es un producto Centro Americano, desarrollado y probado por <strong>Heroes en silencion Inc.</strong></p>
  </div>
  <div class="column" style="text-align:left;">
    <img src="./assets/images/repelent/Repelent_Right.png" loading="lazy" width="350px"/>
  </div>
</div>

<section>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column">
        <article class="media box">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-4 mb-2">⭐️⭐️⭐️⭐️⭐️ </h1>
              Es un producto sin igual, me ha permitido acercarme a mi equipo de trabajo sin miedo alguno de ser atacado por zombies, sencillamente impresindible.
              <br/>
              <small>
                <strong>Javier Segura</strong> · 1 min
              </small>
            </div>
          </div>
        </article>
      </div>
      <div class="column">
        <article class="media box">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-4 mb-2">⭐️⭐️⭐️⭐️⭐️ </h1>
              Objetivamente es el unico producto de este tipo en el mercado, no hay comparación con la competencia!
              Comprarlo ha sido mi mejor decisión en años.
              <br/>
              <small>
                <strong>David Perez</strong> · 3 hrs
              </small>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br/>

</section>

<section style="background-image: linear-gradient(180deg,hsla(171deg,100%,67%,.1),transparent 3rem);
background-repeat: repeat-x;">
  <div class="container">
    <br>
    <br>
    <br>
    
    <h1 class="title is-2" style="text-align: center;">
      Lo que nos diferencia
    </h1>

    <br/>

    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="column box">
          <h1 class="title is-4 mb-2">100% Natural 🍃</h1>
          <p>Nuestros productos son 100% naturales y sin azucar!</p>
        </div>
        <div class="column box">
          <h1 class="title is-4 mb-2">Garantía de por vida 😷</h1>
          <p>Le ofrecemos garantía de por vida en caso el producto haya fallado y usted sobreviva!</p>
        </div>
      
        <div class="column box">
          <h1 class="title is-4 mb-2">Políticamente correcto 👩🏻‍❤️‍👨🏻</h1>
          <p>Nuestro repelente no excluye género de zombie!, los ataca por igual!</p>
        </div>
        <div class="column box">
          <h1 class="title is-4 mb-2">Le rinde más! 💸</h1>
          <p>Es el más rendidor del mercado!, una lata le alcanza para acabar hasta con 100 zombies!</p>
        </div>
      </div>
      <div class="column is-6" style="text-align:center;">
        <img src="./assets/images/zombie/flag.png" loading="lazy" width="300px;"/>
      </div>
    </div>
  </div>
</section>